# Environment
.env
.venv
venv
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.eggs/
*.egg-info/
*.egg

# Database
*.db
*.sqlite
*.sqlite3

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
